.slider-size{
  height: 700px;
}
.section{
  padding: 40px;
  padding-bottom: 40px;
}
.services-s{
  background-color: bisque;
}
.pic-img{
  width: 750px;
  height: 350px;
}
.footer a{
  text-decoration: none;
}